#helpPanel
  h1 This'll be <em>fast</em>.
  p Welcome to Quick<strong>Logic</strong>; a web-based tool for quick creation of <em>combinational logic</em>. Using Quick<b>Logic</b> is simple:
  ul
    li <strong>Single click</strong> the background to start entering equations. Start an equation by specifying the name of an <em>output</em>, followed by an equals sign.
    li <strong>Enter</strong> your <em>Boolean Algebra Expression</em> in the same format you use on <strong>FSM</strong>Designer and Moodle.
    li <strong>Double click</strong> any existing <em>state</em> to edit its output (or outputs).
    li If you want to define <strong>more than one</strong> function, seperate the functions with a <b>semicolon</b> (;).
    li When you're ready to use your new block, click <strong>Export to VHDL</strong>.
    
    p Relax, and enjoy Quick<strong>Logic</strong>-- as always, we've got your back!<br/>  If you're using a modern browser, your work is constantly autosaved- so you're safe even if your browser crashes, or you accidentally navigate away.
    
    #divDismissHelp
      button#btnDismissHelp.icon-edit &nbsp;&nbsp;Let's get started!
