#toolbar

  //
  // Creats a new HTML mixin which allows quick rendering of a tool-button.
  //
  mixin toolbutton(icon, id, text)
    button.toolbutton(id=id, )
      .i(class="fa fa-" + icon)
        span=text

  //
  // Creates a new HTML mixin which allows consistent rendering of separators.
  //
  mixin separator
    span.separator | 

  
  //Render the toolbar:
  +toolbutton('bolt', 'btnNew', 'New')
  +separator
  +toolbutton('folder-open', 'btnOpen', 'Open') 
  #saveButtons
    span#btnSave &nbsp;
    +toolbutton('save', 'btnSaveHTML5', 'Save') 


  +separator
  #vhdlButtons
    span#btnVHDL &nbsp;
    +toolbutton('tasks', 'btnVHDLHTML5', ' Export to VHDL')

  +separator
  +toolbutton('question-circle', 'btnHelp', ' What do I do?')

  +separator
  i.fa.fa-tag.toolicon
  label.toolfield(for="designName") Design Name:
  input#designName.toolfield(value="combinational")

  .logo
    span Quick<strong>Logic</strong>
    span.logobeta beta


